.u-wrapper.bg-intro-fylo {
  border-block-end: 1px solid var(--primaryColorFylo);
}

.FyloCustomerFeedbackList {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 280px);
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-2);
  padding: calc(var(--space) * 10) 0;
}

.FyloForm {
  position: relative;
  margin-block-end: -180px;
}

@media screen and (min-width: 768px) {
  .u-wrapper.bg-intro-fylo {
    display: flex;
    justify-content: center;
  }

  .u-wrapper.bg-intro-fylo>.wrapper {
    flex: 1;
  }

  .FyloForm {
    margin-block-start: var(--space-5);
    margin-block-end: -100px;
  }
}