.BookContent__title {
  margin: var(--space) 0;
}

.BookContent__list {
  padding-left: var(--space-x3);
}

.BookContent__text {
  line-height: 1.2;
}

@media screen and (min-width: 767px) {
  .BookContent__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0;
    grid-column-gap: var(--space);
    list-style-type: none;
  }

  .BookContent__list p {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .BookContent {
    width: 50%;
  }

  .BookContent__list {
    display: block;
    padding-left: var(--space-2);
    list-style-type: unset;
  }
}