.BusinessLinesList__title {
  margin: var(--space-3) 0;
  text-align: center;
  font-size: 68px;
  line-height: .7;
  color: #48504d;
  font-family: var(--font-3);
}

.BusinessLinesList__title span {
  font-size: 38px;
  color: #a6a7a2;
}

.BusinessLinesList > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: var(--space-2);
    padding: var(--space-3) 0;
    border-top: 1px solid #dfdfdf;
}