.OurServices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  font-family: var(--font-3);
}

.OurServices___title {
  margin-bottom: var(--space);
  padding-bottom: var(--space);
  border-bottom: 1px solid #dfdfdf;
  color: #48504d;
}

.OurServices__list li {
  margin: var(--space) 0;
  list-style-type: none;
}

.OurServices__list a {
  color: var(--actionColor);
}

.OurServices__list a::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 10px;
  margin-right: var(--space);
  background-image: url('../../images/bullet-points.svg');
  background-size: contain;
  background-repeat: no-repeat;
}