.PortfolioSlideContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-block-start: var(--space-2);
  padding-block-end: var(--space-2);
}

.PortfolioSlide {
  width: 100%;
  padding-inline-start: 10%;
  padding-inline-end: 10%;
  object-fit: cover;
}