.PortfolioMenu {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  font-family: var(--font-4);
  font-weight: var(--extra-bold);
  --darkColor: #001023;
}

.PortfolioMenu ul {
  display: flex;
}

.PortfolioMenu__item {
  margin-inline-end: var(--space-4);
  list-style: none;
}

.PortfolioMenu__item>a {
  display: inline-block;
  height: inherit;
  color: var(--darkColor);
}