.RecentTweets {
  color: #07080d;
}

.RecentTweets__title {
  margin-block-end: var(--space-2);
  font-family: var(--font-4);
  font-size: 40px;
  color: #c5345c;
  line-height: .7;
}

.RecentTweets__title>span {
  color: #66615f;
  padding-inline-start: var(--space-5);
}

.RecentTweet p {
  font-size: 12px;
  margin-block-end: calc(var(--space) / 2);
}

.RecentTweet:nth-of-type(1):after {
  content: '';
  display: inline-block;
  height: 1px;
  width: 80%;
  margin: var(--space-2) 0;
  background-color: #07080d;
}